﻿@using ProjectSigma
@model ProjectSigma.ViewModels.ContactViewModel
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript">
   $(document).ready(function () {
     initialize();
   });
   function initialize() {
       var mapOptions = {
           center: new google.maps.LatLng(@Resource.Address_Latitude, @Resource.Address_Longitude),
           zoom: 17,
           mapTypeId: google.maps.MapTypeId.ROADMAP
       };
       var map = new google.maps.Map(document.getElementById("map_canvas"),
         mapOptions);
       // create a marker
       var latlng = new google.maps.LatLng(@Resource.Address_Latitude, @Resource.Address_Longitude);
       var marker = new google.maps.Marker({
           position: latlng,
           map: map,
           title: 'Latitude: ' + latlng.Ya + ' Longitude :' + latlng.Za,
           draggable: true
       });
       infoWindow = new google.maps.InfoWindow({
           content: "Sigma Consulting RMIT <br /> @Resource.Address"
       });
       infoWindow.open(map, marker);
       geocoder = new google.maps.Geocoder();
       //Update postal address when the marker is dragged
       google.maps.event.addListener(marker, 'click', function () { //dragend
           geocoder.geocode({ latLng: marker.getPosition() }, function (responses) {
               if (responses && responses.length > 0) {
                   infoWindow.setContent(
                   "<div style=\"font-size:smaller;\">" + responses[0].formatted_address
                   );
                   infoWindow.open(map, marker);
               } else {
                   alert('Error: Google Maps could not determine the address of this location.');
               }
           });
           map.panTo(marker.getPosition());
       });
       // Close the marker window when being dragged
       google.maps.event.addListener(marker, 'dragstart', function () {
           infoWindow.close(map, marker);
       });
   }
    </script>
}
<div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>@Resource.Contact_Us</h2>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                @*iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>*@
                <div id="map_canvas">
                </div>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    @Resource.Address<br>
                </p>
                <p>
                    <i class="fa fa-phone"></i>
                    <abbr title="Phone">P</abbr>: @Resource.About_us_phone
                </p>
                <p>
                    <i class="fa fa-envelope-o"></i>
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">@Resource.About_us_email</a>
                </p>
                <p>
                    <i class="fa fa-clock-o"></i>
                    <abbr title="Hours">H</abbr>: @Resource.About_us_openning_hours
                </p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Send us a Message</h3>
                @if (ViewBag.Message == null)
                {
                    <form name="sentMessage" id="contactForm" method="post">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label asp-for="Name">Full Name:</label>
                                <input asp-for="Name" type="text" class="form-control" id="name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label asp-for="Phone">Phone Number:</label>
                                <input type="tel" asp-for="Phone" class="form-control" id="phone">
                                <span class="text-danger" asp-validation-for="Phone"></span>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label asp-for="Email">Email Address:</label>
                                <input type="email" asp-for="Email" class="form-control" id="email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label asp-for="Message">Message:</label>
                                <textarea asp-for="Message" rows="10" cols="100" class="form-control" id="message" maxlength="999" style="resize: none"></textarea>
                                <span class="text-danger" asp-validation-for="Message"></span>
                            </div>
                        </div>
                        <div id="success"></div>
                        <div class="form-g">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </form>
                }
                else if (@ViewBag.Error)
                {
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }
                else
                {
                    <div class="alert alert-success">Thank you for your message </div>
                }
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>

    @*<div asp-validation-summary="ValidationSummary.ModelOnly"></div>*@
    @*<label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <label asp-for="Message">Message</label>
        <textarea cols="40" rows="4" asp-for="Message"></textarea>
        <span asp-validation-for="Message"></span>
        <div>
            <input type="submit" value="Send Message" />
        </div>*@
</div>